.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    height: 82svh;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
}

.one {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
}

.two {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

.three {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.four {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 3;
}

.five {
    grid-row: span 2 / span 2;
    grid-row-start: 4;
}

.six {
    grid-row: span 2 / span 2;
    grid-row-start: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;

    h1 {
        margin: 0;
    }
}

.six-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}