.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    /*max-width: 1000px;*/
    height: 82svh;
    margin: 0 auto;
}

.one {
    grid-column: 1/4;
    grid-row: span 2;
}

.two {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .two-one {
        height: 50%;
    }

    .two-two {
        height: 50%;
    }
}

.three {
    grid-column: 1/3;
    grid-row: span 1;

    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.four {
    grid-column: 3/5;
    grid-row: span 1;
}

.five {
    grid-column: 1/2;
    grid-row: span 1;
}

.six {
    grid-column: 2/3;
    grid-row: span 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;

    h1 {
        margin: 0;
    }
}

.six-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seven {
    grid-column: 3/5;
    grid-row: span 1;

    display: flex;
    flex-direction: row;
}

