.project-title {
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: var(--foreground);
    background-color: var(--background);
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.project-block {
    &:hover .project-title {
        opacity: 0;
    }

    .project-image {
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
        filter: blur(4px) brightness(70%);
        transition: filter 0.3s ease;
    }

    &:hover .project-image {
        filter: none;
    }
}