.wrapper-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    padding: 5px;
    border-radius: 20px;
    min-width: 100%;
    min-height: 100%;
}

.one-project {
    grid-column: span 2 / span 2;
}

.two-project {
    grid-column-start: 3;
}

.three-project {
    grid-column-start: 1;
    grid-row-start: 2;
}

.four-project {
    grid-column-start: 2;
    grid-row-start: 2;
}

.five-project {
    grid-column-start: 3;
    grid-row-start: 2;

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    span {
        font-size: 24px;
        margin-top: auto;
    }


}

.custom-btn {
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.custom-btn:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.custom-btn:active {
    transform: scale(0.95) rotateZ(1.7deg);
}