.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.project-image {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    filter: blur(2px);
    transition: filter 0.3s ease;
}

.project-image:hover {
    filter: none;
    opacity: 1;
}