.about-me-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    border-radius: 8px;
}

.six-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.six-icon {
    color: var(--accent);
    background-color: var(--white);
    border-radius: 100%;
    height: 20px;
    width: 20px;
    padding: 10px;
}

.six-paragraph {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    line-height: 1.1;
    border-radius: 8px;
}