.experience-block, .education-block {
    display: flex;
    flex-direction: row;
    gap: 15px;

    h3 {
        margin: 0;
        font-size: 1.2rem;
        width: 100px;
        color: var(--foreground);
    }
}

.period {
    margin-left: 10px;
    font-weight: bold;
    color: var(--accent);
}