.profile-block {
    border-radius: 24px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    width: fit-content;

}

/* Profile header*/
.profile-header {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.profile-image-container {
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    border-radius: 20px;
    object-fit: cover;
}

.intro-wrapper {
    h2 {
        font-size: 24px;
        text-decoration: none;
    }
}


.intro-available {
    display: flex;
    gap: 10px;
}


/* Informations principales */
.profile-infos {
    display: flex;
    gap: 15px;
    width: 100%;

    /*background-color: rgba(0, 0, 0, 0.8);*/
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    padding: 10px;

    .info-item {
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
