.profile-block {
    border-radius: 24px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: white;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Profile header*/
.profile-header {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.profile-image-container {
    position: relative;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    border-radius: 20px;
    object-fit: cover;
}

.intro-wrapper {
    h2 {
        font-size: 24px;
        text-decoration: none;
    }
}


.intro-available {
    display: flex;
    gap: 10px;
}


/* Informations principales */
.profile-infos {
    display: flex;
    gap: 15px;

    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    padding: 10px;

    .info-item {
        span {
            font-weight: bold;
            font-size: 10px;
        }
    }
}


/* Réseaux */
/*.profile-networks {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.badge {
    border-radius: 3rem;
    padding: 5px 10px;
    color: var(--foreground);
    font-weight: bold;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 1rem;
        backdrop-filter: blur(1px);
        box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
        inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
        opacity: 0.6;
        z-index: -1;
        filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
    }
}


/* Badge de présentation */
.intro-badge {
    background: linear-gradient(135deg, #d4fc79 0%, #96e6a1 100%);
    border-radius: 20px;
    padding: 10px;
    color: var(--foreground);
    position: relative;
    height: 20%;
    margin-top: 3%;
    right: 15%;
}
