@import "tailwindcss";

:root {
    --background: #F8F8FF;
    --foreground: #0B1215;
    --white: #F8F8FF;
    --black: #0B1215;

    /* Variables de polices Crimson Text */
    --font-crimson-text-bold: 'CrimsonText-Bold', serif;
    --font-crimson-text-bold-italic: 'CrimsonText-BoldItalic', serif;
    --font-crimson-text-italic: 'CrimsonText-Italic', serif;
    --font-crimson-text-regular: 'CrimsonText-Regular', serif;
    --font-crimson-text-semi-bold: 'CrimsonText-SemiBold', serif;
    --font-crimson-text-semi-bold-italic: 'CrimsonText-SemiBoldItalic', serif;

    /* Variables de polices Nunito */
    --font-nunito-italic-variable: 'Nunito-Italic-VariableFont_wght', sans-serif;
    --font-nunito-variable: 'Nunito-VariableFont_wght', sans-serif;

    /* Variables de polices Scada */
    --font-scada-bold: 'Scada-Bold', sans-serif;
    --font-scada-bold-italic: 'Scada-BoldItalic', sans-serif;
    --font-scada-italic: 'Scada-Italic', sans-serif;
    --font-scada-regular: 'Scada-Regular', sans-serif;
}

.dark {
    --background: #0B1215;
    --foreground: #F8F8FF;
}

@media (prefers-color-scheme: dark) {
    :root:not(.dark):not(.light) {
        --background: #0B1215;
        --foreground: #F8F8FF;
    }
}

/* Déclarations @font-face pour charger les polices */
@font-face {
    font-family: 'CrimsonText-Bold';
    src: url('/assets/font/Crimson_Text/CrimsonText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CrimsonText-BoldItalic';
    src: url('/assets/font/Crimson_Text/CrimsonText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'CrimsonText-Italic';
    src: url('/assets/font/Crimson_Text/CrimsonText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CrimsonText-Regular';
    src: url('/assets/font/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CrimsonText-SemiBold';
    src: url('/assets/font/Crimson_Text/CrimsonText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CrimsonText-SemiBoldItalic';
    src: url('/assets/font/Crimson_Text/CrimsonText-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito-Italic-VariableFont_wght';
    src: url('/assets/font/Nunito/static/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 1000;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito-VariableFont_wght';
    src: url('/assets/font/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 1000;
    font-style: normal;
}

@font-face {
    font-family: 'Scada-Bold';
    src: url('/assets/font/Scada/Scada-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Scada-BoldItalic';
    src: url('/assets/font/Scada/Scada-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Scada-Italic';
    src: url('/assets/font/Scada/Scada-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Scada-Regular';
    src: url('/assets/font/Scada/Scada-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('/assets/images/flower-roses-dude.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.dark body {
    background-image: url('/assets/images/rainbow-discs.jpg');
}

.header {
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'CrimsonText-Bold', sans-serif;
    font-size: 18px;
    color: var(--foreground);
}

.glass {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 2rem;
        backdrop-filter: blur(1px);
        box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
        inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
        opacity: 0.6;
        z-index: -1;
        filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
    }
}
